<div class="container">
		<div class="invoceinfo">
		<br>
		Invoice No #<!--string interpolation --> 
		<br>
		Date : 2010/02/10<!--String interpolation --> 
		</div>
	<div class="companyref">
		<img src="https://api.rallydemo.site/images/articles/title_image/58d66e15-e8ba-4dd1-9d6c-5f6a9f209033.png" >
	</div>
	<div class="from">
	<i>form To</i>
	<br>
	<i>Ford Chaichan</i>
	<br>
	461/7 หมู่ที่ 1 ซอย.บ้านหนองบัว ต.หมากแข้ง 
	อำเภอ: เมือง จังหวัด: อุดรธานี
	<br>
	41000
	<br>
	stronghone: 0989853616
	<br>
	Email: chaichan@gmail.com
	</div>
<div class="bill_to">
	<i>bill to</i>
	<br>
	<i>Ford Chaichan</i>
	<br>
	144b avenue de l'eurostronge
	<br>
	77550 Moissy-Cramayel
	<br>
	stronghone: 0989853616
	<br>
	Email: chaichan@gmail.com
</div>

<!-- Middle section  -->
<div class="tablesection">
	<br>
	<table>
		<thead>
			<tr>
				<th colspan="4"> Invoice </th>
			</tr>
			<tr>
				<th> Items </th>
				<th> destription </th>
				<th> Quantity </th>
				<th> Price </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="row_items">result</td>
				<td> rresultresultresultresultesultsusdufsiudfysidu sdiufy dsiuf </td>
				<td class="row_quantity">result</td>
				<td class="row_price">result</td>
			</tr>
			<tr>
				<td> result </td>
				<td> rresultresultresultresultesult </td>
				<td> result </td>
				<td> result </td>
			</tr>
			<tr>
				<td> result </td>
				<td> rrresultresultresultresultesultrresultresultresultresultesultrresultresultresultresultesultrresultresultresultresultesultrresultresultresultresultesultrresultresultresultresultesultrresultresultresultresultesultrresultresultresultresultesultrresultresultresultresultesultrresultresultresultresultesultresultresultresultresultesult </td>
				<td> result </td>
				<td> result </td>
			</tr>
			<tr>
				<td> result </td>
				<td> rresultresultresultresultesult </td>
				<td> result </td>
				<td> result </td>
			</tr>
			<tr>
				<td> result </td>
				<td> rresultresultresultresultesult </td>
				<td> result </td>
				<td> result </td>
			</tr>
		</tbody>
		<thead>
			
			<tr>
				<th colspan="2">  </th>
				<th>total</th>
				<th>40.00</th>
			</tr>
		</thead>
		
	</table>
	<br>	
</div>


	<!--  bottom section -->
</div>

