<!-- <form [formGroup]="customerform" (submit)="createcustomer()" class="example-form"> -->
	<form class="customerform" [formGroup]="custofm.customerform">
<h2 class="inputfield"> please fill in  customer information</h2>		
		<!--Company Name -->	
		<mat-form-field class="inputfield">
			<input matInput placeholder="companyname" formControlName="companyname">
		</mat-form-field>
		<!--first name -->	
		<mat-form-field class="inputfield" >
			<input matInput placeholder="first name" formControlName="first_name">
		</mat-form-field>
		<!--last_name -->
		<mat-form-field class="inputfield">
			<input matInput placeholder="last name" formControlName="last_name">
		</mat-form-field>
		<!-- phone -->
		<mat-form-field class="inputfield">
			<input matInput placeholder="phone number" formControlName="phone">
		</mat-form-field>
		<!-- Address -->
		<mat-form-field class="inputfield">
			<textarea matInput placeholder="address" formControlName="address"></textarea>			
		</mat-form-field>
		<mat-form-field class="inputfield">
			<input matInput placeholder="district" formControlName="district">
		</mat-form-field>
		<mat-form-field class="inputfield">
				<input matInput placeholder="province" formControlName="province">
			</mat-form-field>
			<!-- Code posttal -->
		<mat-form-field class="inputfield">
				<input matInput placeholder="postal code" formControlName="postal_code">
			</mat-form-field>
			<div mat-dialog-actions class="inputfield">
			<button mat-raised-button class="send" (click)="Createcustomer()">Create!</button>
			</div>
			<!-- <button mat-button [disabled]="!customerform.valid">Send!</button> -->
	</form>

	<br>
